<div>
  <a class="item" [routerLink]="['/dashboard']" routerLinkActive="active" showIfManager>
    <mat-icon>home</mat-icon>
    <span>Dashboard</span>
  </a>

  <a class="item" [routerLink]="['/register-activity']" routerLinkActive="active">
    <mat-icon>access_alarm</mat-icon>
    <span>Registrar ponto</span>
  </a>

  <a [routerLink]="['/alura-access']" routerLinkActive="" #rla="routerLinkActive" hidden></a>
  <a class="item" [routerLink]="['/alura-access']" [queryParams]="{page: 1}" [class.active]="rla.isActive" queryParamsHandling="merge" showIfManager>
    <mat-icon>menu_book</mat-icon>
    <span>Acesso Alura</span>
  </a>

  <a class="item" [routerLink]="['/profile']" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>Perfil</span>
  </a>

  <a class="item" [routerLink]="['/announcements']" routerLinkActive="active">
    <app-icon icon="speaker" size="md"></app-icon>
    <span>Anúncios</span>
  </a>
</div>