@import '../../../../assets/styles/colors.scss';

mat-icon {
  margin-right: 12px;
}

.container {
  height: 100%;
  padding-top: 36px;
  width: 241px;
}

.item {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 24px;
}

app-icon {
  margin-right: 12px;
}