<h1 mat-dialog-title class="text-primary">Atualizar status do acesso à Alura</h1>
<div mat-dialog-content>
  <div class="name-date-container">
    <div class="name">
      <span class="subtitle text-primary">Nome: </span>
      <span class="text">{{ access.name }}</span>
    </div>
    <div class="date">
      <span class="subtitle">Data Solicitação: </span>
      <span class="text text-dark">{{ access.date | date: 'dd/MM/yyyy' }}</span>
    </div>
  </div>
  <div class="status-container">
    <span class="subtitle status">Status: </span>
    <mat-form-field appearance="fill">
      <mat-label>Selecione um novo status</mat-label>
      <mat-select [(ngModel)]="access.status">
        <mat-option *ngFor="let status of statusList" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="actions-container">
  <button mat-stroked-button color="primary" (click)="onNoClick()" class="action-button">Cancelar</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="access.status" class="action-button">Atualizar</button>
</div>