.icon {
  text-align: center;
  color: inherit;
  display: inline-block;

  &--auto {
    height: auto;
    width: 16px;
  }

  &--xs {
    height: auto;
    width: 10px;
  }

  &--sm {
    height: auto;
    width: 16px;
  }

  &--md {
    height: auto;
    width: 24px;
  }

  &--lg {
    height: auto;
    width: 32px;
  }

  &--xl {
    height: auto;
    width: 48px;
  }
}


