.icon {
  text-align: center;
  color: inherit; 

  &--auto {
    height: auto;
    width: 16px;
  }

  &--xs {
    height: 10px;
    width: 10px;
  }

  &--sm {
    height: 16px;
    width: 16px;
  }

  &--md {
    height: 24px;
    width: 24px;
  }

  &--lg {
    height: 32px;
    width: 32px;
  }

  &--xl {
    height: 48px;
    width: 48px;
  }
}


