@import '../../../../styles.scss';

table {
  width: 80%;
  margin-top: 20px;
}

.mat-header-cell {
  vertical-align: middle;
  background-color: $secondary;
  color: $white;
}

.mat-header-row {
  height: 50px;
}

.mat-cell {
  vertical-align: middle;
  color: $text-dark;
  font-weight: 500;
}

.status-action {
  color: $secondary;
  font-weight: 500;
  cursor: pointer;
}

.Aprovado {
  color: $green;
  font-size: 20px;
}

.Cancelado {
  color: $red;
  font-size: 20px;
}

.Aguardando {
  color: $yellow;
  font-size: 20px;
}

.status-text {
  display: flex;
  align-items: center;
}