<div class="table-container">
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"> Status </th>
      <td mat-cell *matCellDef="let element"> <div class="status-text"> <mat-icon [class]="element.status">{{mapIcon(element.status)}}</mat-icon> {{element.status}} </div> </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow"> Data Solicitação </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element" class="status-action" (click)="openDialogEmitter(element)"> Alterar status </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div class="pagination">
    <button mat-icon-button type="button" [disabled]="pages.prev === undefined" (click)="changePageEmitter(pages.prev)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button type="button" [disabled]="pages.next === undefined" (click)="changePageEmitter(pages.next)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>