@import '../../../../styles.scss';

.table-container {
  width: 80%;
  margin-top: 20px;
}

table {
  width: 100%;
}

.mat-header-cell {
  vertical-align: middle;
  background-color: $secondary;
  color: $white;
}

.mat-header-row {
  height: 50px;
}

.mat-cell {
  vertical-align: middle;
  color: $text-dark;
  font-weight: 500;
}

.status-action {
  color: $secondary;
  font-weight: 500;
  cursor: pointer;
}

.Aprovado {
  color: $green;
  font-size: 20px;
}

.Cancelado {
  color: $red;
  font-size: 20px;
}

.Aguardando {
  color: $yellow;
  font-size: 20px;
}

.status-text {
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  button:first-of-type {
    margin-right: 20px;
  }

  button {
    background-color: $secondary;
    color: $white;
  }

  button:disabled {
    opacity: 0.6;
  }
}