<h2>Mudar senha</h2>

<form [formGroup]="changePasswordForm" (submit)="changePassword()">
  <mat-form-field appearance="outline">
    <mat-label>Senha atual</mat-label>
    <input formControlName="password" matInput type="text">
    <mat-error *ngIf="changePasswordForm.get('password')?.errors?.required">Este campo deve ser preenchido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Nova senha</mat-label>
    <input formControlName="newPassword" matInput type="text">
    <mat-error *ngIf="changePasswordForm.get('newPassword')?.errors?.required">Este campo deve ser preenchido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Confirmar nova senha</mat-label>
    <input formControlName="confirmNewPassword" matInput type="text">
    <mat-error *ngIf="changePasswordForm.get('confirmNewPassword')?.errors?.required">Este campo deve ser preenchido</mat-error>
  </mat-form-field>

  <button mat-flat-button type="submit">Salvar</button>
  <mat-error *ngIf="changePasswordForm.errors?.password">A nova senha deve ser diferente da antiga e igual à da confirmação</mat-error>
</form>