@import '../../../styles.scss';

h2 {
  color: $secondary;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

button {
  color: $white !important;
  background-color: $secondary !important;
  max-width: 150px;
}