<div #accessTable>
  <form [formGroup]="searchForm" class="search-form">
    <mat-icon>search</mat-icon>
    <input type="text"
    placeholder="Busque por pessoas"
    formControlName="search">
  </form>
  
  <div class="filter-container">
    <button class="filter-button" mat-flat-button color="primary" [matMenuTriggerFor]="filterByElement">Filtrar <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #filterByElement>
      <button mat-menu-item (click)="filterBy(null)">Todos</button>
      <button *ngFor="let status of statusList" mat-menu-item (click)="filterBy(status)">{{status}}</button>
    </mat-menu>
  </div>
  
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  <app-access-table *ngIf="!isLoading && accesses" [accesses]="accesses" (openDialog)="openDialog($event)" [pages]="pages" (changePage)="changePage($event)"></app-access-table>
  <h1 *ngIf="!isLoading && errorMessage">{{errorMessage}}</h1>
</div>