@import '../../../assets/styles/colors.scss';

.search-form {
  border: 1px solid $border;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 60%;
  overflow: hidden;
}

.mat-icon {
  margin: 5px;
}

input {
  height: 34px;
  width: 100%;
}

.filter-button {
  background-color: $tqi-blue-light;
  color: $white;
  padding-right: 10px;
}

.filter-container {
  margin-top: 20px;
}

::ng-deep .hide-arrow .mat-sort-header-arrow {
  color: #fff;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}