@import '../../../assets/styles/colors.scss';
@import '../../../styles.scss';

.search-form {
  border: 1px solid $border;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 60%;
  overflow: hidden;
}

.mat-icon {
  margin: 5px;
}

input {
  height: 34px;
  width: 100%;
  background-color: transparent;
}

.filter-button {
  padding-right: 10px;
}

.filter-container {
  margin: 20px 0;
}

::ng-deep .hide-arrow .mat-sort-header-arrow {
  color: $white;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: $tablet) {
  .search-form {
    width: 100%;
  }
}