@import '../../../styles.scss';

.search-form {
  border: 1px solid $border;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  width: 60%;
}

.mat-icon {
  margin: 5px;
}

input {
  height: 34px;
  width: 100%;
}

.filter-button {
  background-color: $secondary;
  color: $white;
  padding-right: 10px;
}

.filter-container {
  margin-top: 20px;
}

table {
  width: 80%;
  margin-top: 20px;
}

.mat-header-cell {
  vertical-align: middle;
  background-color: $secondary;
  color: $white;
}

.mat-header-row {
  height: 50px;
}

.mat-cell {
  vertical-align: middle;
  color: $text-dark;
  font-weight: 500;
}

.status-action {
  color: $secondary;
  font-weight: 500;
  cursor: pointer;
}

.Aprovado {
  color: $green;
  font-size: 20px;
}

.Cancelado {
  color: $red;
  font-size: 20px;
}

.Aguardando {
  color: $yellow;
  font-size: 20px;
}

.status-text {
  display: flex;
  align-items: center;
}

::ng-deep .hide-arrow .mat-sort-header-arrow {
  color: #fff;
}

.loading-spinner {
  display: flex;
  justify-content: center;
}