<mat-spinner *ngIf="!announcement; else announcementTemplate"></mat-spinner>
<ng-template #announcementTemplate>
  <a [routerLink]="['/announcements']" class="back-link text-primary"><mat-icon>arrow_back</mat-icon>Voltar</a>
  <div class="image">
    <img [src]="announcement.imageUrl" alt="Imagem do anúncio">
  </div>
  
  <h2 class="text-primary">{{announcement.title}}</h2>
  
  <pre class="text-dark">{{announcement.description}}</pre>
  
  <h3 class="text-primary">Comentários</h3>
  
  <form [formGroup]="commentForm" (submit)="saveComment()">
    <mat-form-field appearance="fill">
      <mat-label>Deixe um comentário</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
  
    <button mat-flat-button color="primary" type="submit">Comentar</button>
  </form>
  
  <mat-spinner *ngIf="!announcement.comments; else commentsTemplate"></mat-spinner>
  <ng-template #commentsTemplate>
    <ul class="comments" *ngIf="announcement.comments">
      <li class="comment"*ngFor="let comment of announcement.comments; trackBy: trackByFn">
        <span class="author text-dark">{{comment.author}}</span> <span class="text-light">{{comment.date | date: 'dd/MM/yyyy'}}</span>
        <p class="text-light">{{comment.comment}}</p>
      </li>
    </ul>
  </ng-template>
</ng-template>
