@import '../../../styles.scss';

mat-icon {
  margin-right: 12px;
}

.item {
  display: flex;
  align-items: center;
  color: $text-light;
  padding: 8px 8px 8px 24px;
}

.active {
  background-color: $secondary;
  color: $white;
}

app-icon {
  margin-right: 12px;
}