mat-card {
  display: flex;
  flex-direction: row;
  padding: 0;
  overflow: hidden;
  max-height: 115px;
  width: 80%;
}

img {
  width: 120px;
  height: 120px;
}

.content-container {
  padding: 12px;
  display: flex;
  overflow: hidden;
}

p {
  line-height: 1.2em;
}

button {
  align-self: flex-end;
  margin-right: -8px;
  margin-bottom: -8px;
}

.fade {
  position: relative;
  height: 4.8em; /* exactly three lines */
  overflow: hidden;
}

.fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
}