<ng-container *ngIf="!announcements; else announcementsTemplate">
  <mat-card class="loader"></mat-card>
  <mat-card class="loader"></mat-card>
  <mat-card class="loader"></mat-card>
</ng-container>

<ng-template #announcementsTemplate>
  <mat-card *ngFor="let announcement of announcements">
    <a [routerLink]="[announcement.id]">
      <img [src]="announcement.imageUrl || '../../../assets/image-placeholder.png'" alt="" />
      <div class="text-wrapper">
        <div class="fade">
          <p>
            {{ announcement.description }}
          </p>
        </div>
      </div>
    </a>
  
    <div class="actions">
      <button mat-icon-button showIfManager (click)="deleteAnnouncement(announcement.id)">
        <mat-icon class="delete-icon">delete_outline</mat-icon>
      </button>
      <span color="warn">{{announcement.likes}}</span>
      <button mat-icon-button color="warn">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </div>
  </mat-card>
</ng-template>
