@import '../../../styles.scss';

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

mat-form-field {
  width: 100%;
}

mat-slide-toggle {
  margin-bottom: 20px;
  width: fit-content;
}

.group-fields {
  display: flex;
  justify-content: space-between;
  max-width: 520px;

  mat-form-field:not(:first-of-type) {
    margin-left: 20px;
  }

  button {
    width: 100%;
  }

  button:not(:first-of-type) {
    margin-left: 20px;
  }
}

.flat-button {
  background: $secondary;
  color: $white;
  // width: 100%;
}

.stroked-button {
  border: 1px solid $secondary !important;
  color: $secondary;
}