@import '../../../../../assets/styles/colors.scss';
@import '../../../../../styles.scss';

.table-container {
  width: 80%;
}

table {
  width: 100%;
}

.mat-header-cell {
  vertical-align: middle;
}

.mat-header-row {
  height: 50px;
}

.mat-cell {
  vertical-align: middle;
  font-weight: 500;
}

.status-action {
  font-weight: 500;
  cursor: pointer;
}

.Aprovado {
  color: $green;
  font-size: 20px;
}

.Cancelado {
  color: $red;
  font-size: 20px;
}

.Aguardando {
  color: $yellow;
  font-size: 20px;
}

.status-text {
  display: flex;
  align-items: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;

  button:first-of-type {
    margin-right: 20px;
  }
}

@media only screen and (max-width: $tablet) {
  .table-container {
    width: 100%;
  }
}