<div class="table-container">
  <table *ngIf="dataSource" mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow bg-light text-white" scope="col"> ID </th>
      <td mat-cell class="text-dark" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow bg-light text-white" scope="col"> Nome </th>
      <td mat-cell class="text-dark" *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow bg-light text-white" scope="col"> Status </th>
      <td mat-cell class="text-dark" *matCellDef="let element"> <div class="status-text"> <mat-icon [class]="element.status">{{mapIcon(element.status)}}</mat-icon> {{element.status}} </div> </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-arrow bg-light text-white" scope="col"> Data Solicitação </th>
      <td mat-cell class="text-dark" *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef scope="col" class="bg-light text-white"> Ação </th>
      <td mat-cell class="status-action text-primary" *matCellDef="let element" (click)="openDialogEmitter(element)"> Alterar status </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div class="pagination" *ngIf="pages">
    <button mat-mini-fab type="button" color="primary" [disabled]="pages.prev === undefined" (click)="changePageEmitter(pages.prev!)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-mini-fab type="button" color="primary" [disabled]="pages.next === undefined" (click)="changePageEmitter(pages.next!)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>