<mat-toolbar>
  <div class="logo-container-bg bg-dark" *ngIf="!isMobile">
    <div class="logo-container text-white">
      <app-icon icon="app" size="md" class="icon"></app-icon>
      <div>
        <h3>TQI EASY</h3>
        <p>Dashboard</p>
      </div>
    </div>
  </div>

  <button mat-icon-button color="primary" class="menu-button" (click)="toggleSidenav()" *ngIf="isMobile">
    <mat-icon>menu</mat-icon>
  </button>
  
  <span class="spacer"></span>

  <button *ngIf="currentTheme === THEME.LIGHT" mat-icon-button color="primary" (click)="changeTheme(THEME.DARK)">
    <mat-icon>light_mode</mat-icon>
  </button>

  <button *ngIf="currentTheme === THEME.DARK" mat-icon-button color="primary" (click)="changeTheme(THEME.LIGHT)">
    <mat-icon>dark_mode</mat-icon>
  </button>

  <button mat-icon-button type="button" class="icon-button">
    <app-icon class="text-primary" icon="bell" size="md"></app-icon>
  </button>

  <div class="profile-dropdown" [matMenuTriggerFor]="menu">
    <div>
      <h4 class="text-primary">{{ user.name }}</h4>
      <p class="text-light">{{ user.role }}</p>
    </div>
    <mat-icon color="primary">keyboard_arrow_down</mat-icon>
  </div>
  <mat-menu #menu>
    <a [routerLink]="['/profile']" mat-menu-item>Perfil</a>
    <a [routerLink]="['/change-password']" mat-menu-item>Mudar senha</a>
    <button mat-menu-item (click)="logout()" >Sair</button>
  </mat-menu>

</mat-toolbar>
