@import '../../../../assets/styles/colors.scss';

.subtitle {
  color: $tqi-blue-light;
  font-weight: 500;
}

.text {
  color: $text-dark;
  font-weight: 500;
}

h1 {
  color: $tqi-blue-light;
  margin-bottom: 16px;
}

.name-date-container {
  display: flex;
  margin-bottom: 20px;
}

.name {
  margin-right: 16px;
}

.status {
  margin-right: 12px;
}

.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actions-container {
  justify-content: flex-end;
}

.action-button {
  background-color: $tqi-blue-light;
  color: $white;
  font-weight: 500;
}