<mat-card class="container">
  <div class="title-container">
    <h4 class="text-dark">{{ info.title }}</h4>
    <mat-icon color="primary" class="title-icon">{{ icon }}</mat-icon>
  </div>
  <h1 class="text-primary">{{ info.number }}</h1>
  <div class="subtitle-container">
    <span class="text-light">Desde o último mês</span>
    <mat-icon [class]="'icon subtitle-icon-' + info.comparison ">
      {{ info.comparison === 'increase' ? 'arrow_upward' : 'arrow_downward'}}
    </mat-icon>
  </div>
</mat-card>