<form [formGroup]="addressForm" class="form">
  <h3 class="text-primary">Endereço</h3>

  <mat-form-field appearance="outline" class="cep">
    <mat-label>CEP</mat-label>
    <input formControlName="cep" type="text" matInput mask="00.000-000"/>
    <mat-error *ngIf="addressForm.get('cep')?.errors?.required">Este campo deve ser preenchido</mat-error>
    <mat-error *ngIf="addressForm.get('cep')?.errors?.mask">Formato de CEP incorreto</mat-error>
  </mat-form-field>

  <div class="group-fields">
    <mat-form-field appearance="outline">
      <mat-label>Rua</mat-label>
      <input formControlName="street" type="text" matInput/>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Bairro</mat-label>
      <input formControlName="neighborhood" type="text" matInput/>
    </mat-form-field>
  </div>

  <div class="group-fields">
    <mat-form-field appearance="outline">
      <mat-label>Número</mat-label>
      <input formControlName="number" type="number" min="0" matInput/>
      <mat-error *ngIf="addressForm.get('number')?.errors?.required">Este campo deve ser preenchido</mat-error>
      <mat-error *ngIf="addressForm.get('number')?.errors?.addressNumber">Número inválido</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Complemento</mat-label>
      <input formControlName="complement" type="text" matInput/>
      <mat-error *ngIf="addressForm.get('complement')?.errors?.maxlength">Deve ter no máximo 140 caracteres</mat-error>
    </mat-form-field>
  </div>

  <div class="group-fields">
    <mat-form-field appearance="outline">
      <mat-label>Cidade</mat-label>
      <input formControlName="city" type="text" matInput/>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <input formControlName="state" type="text" matInput/>
    </mat-form-field>
  </div>

</form>