<div class="background">
  <div class="logo-container">
    <app-icon icon="app" color="#fff" size="lg" class="icon"></app-icon>
    <div>
      <h1>TQI EASY</h1>
      <p>Dashboard</p>
    </div>
  </div>

  <div class="form-container">
    <h3>Bem vindo(a)!</h3>
    <p>Insira seu e-mail e senha para acessar nosso dashboard</p>

    <form [formGroup]="loginForm" (submit)="login()">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" type="email" matInput autofocus/>
        <mat-error *ngIf="loginForm.get('email')?.errors">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Senha</mat-label>
        <input formControlName="password" [type]="hidePassword ? 'password' : 'text'" matInput/>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon class="password-icon">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.errors">Você deve inserir uma senha</mat-error>
      </mat-form-field>

      <button [disabled]="loginForm.invalid" mat-flat-button class="button" type="submit">Entrar</button>
      <mat-error class="error-message" *ngIf="loginError">{{ loginErrorMessage }}</mat-error>
    </form>
  </div>
</div>
