@import '../styles.scss';

.main-container {
  height: calc(100% - 64px);
}

mat-sidenav {
  width: 241px;
}

.mat-sidenav {
  background-color: $primary;
  padding-top: 36px;
}

mat-sidenav-content {
  padding: 24px;
  background-color: $white;
}