@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/breakpoints.scss';

form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

mat-form-field {
  width: 100%;
}

mat-slide-toggle {
  margin-bottom: 20px;
  width: fit-content;
}

.group-fields {
  display: flex;
  justify-content: space-between;
  max-width: 520px;

  mat-form-field:not(:first-of-type) {
    margin-left: 20px;
  }

  button {
    width: 100%;
  }

  button:not(:first-of-type) {
    margin-left: 20px;
  }
}

@media only screen and (max-width: $desktop-md) {
  form {
    width: 100%;
  }
}

@media only screen and (max-width: $tablet) {
  .group-fields {
    flex-direction: column;
    
    mat-form-field:not(:first-of-type) {
      margin-left: 0px;
    }
  
    button:not(:first-of-type) {
      margin-left: 0px;
      margin-top: 20px;
    }
  }

}