@import '../../../../styles.scss';

.container {
  max-width: 740px;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.app-interview-card {
  width: 400px;
  margin-top: 30px;
}

@media only screen and (max-width: $desktop-md) {
  .card-container {
    flex-direction: column;

    .item:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}