@import "~@angular/material/theming";
@include mat-core();

@import "./assets/styles/light-theme.scss";
@import "./assets/styles/dark-theme.scss";

@include angular-material-theme($light-theme);

.dark-theme {
  @include angular-material-color($dark-theme);
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

* {
  outline: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  list-style-type: none;
  margin-left: 0; padding-left: 0;
}