@import "~@angular/material/theming";
@include mat-core();

@import "light-theme.scss";

/*** BREAKPOINTS ***/

$desktop-xlg: 1440px;
$desktop-lg: 1280px;
$desktop-md: 1024px;
$tablet: 768px;
$mobile-lg: 412px;
$mobile: 320px;

/*** BREAKPOINTS ***/

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  outline: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

* {
  outline: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
