@import '../../../../assets/styles/colors.scss';
@import '../../../../assets/styles/breakpoints.scss';

img {
  width: 100px;
  height: 100px;
  background-color: $text-light;
  border-radius: 50%;
  opacity: 0.7;
  margin-bottom: 20px;
  cursor: pointer;
}

.form-title {
  margin-bottom: 20px;
  font-weight: 500;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

p {
  margin-bottom: 8px;
}

mat-radio-group {
  margin-bottom: 20px;

  mat-radio-button {
    margin-right: 20px;
  }
}

.actions {
  display: flex;
  max-width: 400px;

  button {
    margin-left: 20px;
  }
}

button, a {
  width: 100%;
}

app-general-info-form {
  margin-bottom: 20px;
}

.hidden-input {
  display: none;
}

@media only screen and (max-width: $tablet) {
  form {
    width: 100%;
  }
}