@import './colors.scss';

$mat-tqi: (
  500: #1565c0,
  700: #003c8f,
  contrast: (
    500: $white,
    700: $text-light,
  ),
);

$primary-color: mat-palette($mat-tqi, 500, 100);
$accent: mat-palette($mat-tqi, 500);
$warn: mat-palette($mat-pink, 400);

$light-theme: mat-light-theme(
  (
    color: (
      primary: $primary-color,
      accent: $accent,
      warn: $warn,
    ),
  )
);

.light-theme {
  .text-primary {
    color: mat-color($mat-tqi, 500);
  }

  .text-dark {
    color: $text-dark !important;
  }

  .text-light {
    color: $text-light !important;
  }

  .text-white {
    color: $white !important;
  }

  .bg-dark {
    background-color: mat-color($mat-tqi, 700);
  }

  .bg-light {
    background-color: mat-color($mat-tqi, 500);
  }

  .fade {
    position: relative;
    height: 4.8em; /* exactly three lines */
    overflow: hidden;
  }
  
  .fade:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 80%);
  }

  .mat-stroked-button {
    border: 1px solid currentColor !important;
  }
}