<form [formGroup]="childForm">
  <mat-form-field appearance="outline">
    <mat-label>Nome do(a) filho(a)</mat-label>
    <input formControlName="name" matInput type="text" />
    <mat-error *ngIf="childForm.get('name')?.errors?.required">Este campo deve ser preenchido</mat-error>
  </mat-form-field>

  <div class="group-fields">
    <mat-form-field appearance="outline">
      <mat-label>Data de nascimento</mat-label>
      <input formControlName="birthDate" matInput [matDatepicker]="picker"/>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="childForm.get('birthDate')?.errors?.required">Este campo deve ser preenchido</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Sexo</mat-label>
      <mat-select formControlName="sex">
          <mat-option *ngFor="let sex of sexList" [value]="sex">
            {{sex}}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="childForm.get('sex')?.errors?.required">Este campo deve ser preenchido</mat-error>
    </mat-form-field>
    
    <mat-slide-toggle color="primary" formControlName="liveWithParents">Reside com os pais?</mat-slide-toggle>
  </div>

</form>